.upload-success{
  max-width: 100%;
}

.uploaded-image{
  border-radius: 12px;
  width: 100%;
  height: 14rem;
  margin-bottom: 1rem;
}

.clipboard-wrapper{
  background-color: #F6F8FB;
  border: 1px solid #E0E0E0;
  border-radius: 0.75rem;
  padding: 0.25rem 0.25rem 0.25rem 1rem;
  @media screen and(max-width: 576px){
    flex-direction: column;
    align-items: center;
    background-color: initial;
    padding: 0;
    border: none;
    p{
      margin-bottom: 2rem;
      border: 1px solid #E0E0E0;
      background-color: #F6F8FB;
      border-radius: 0.75rem;
      padding: 0.5rem !important;
    }
  }
  p{
    margin: 0;
    padding: 0;
    margin-block-start: 0;
    margin-block-end: 0;
  }

  .btn{
    padding: 0.75rem 2rem;
  }
}
