.loading-bar {
  width: 100%;
  height: 0.5rem;
  border-radius: 0.75rem;
  .loading-bar-outer {
    width: 100%;
    height: 100%;
    background-color: rgb(233, 233, 233);
    border-radius: 0.75rem;
    overflow: hidden;
    position: relative;
    .loading-bar-inner {
      position: absolute;
      //left: 0;
      height: 100%;
      background-color: #2f80ed;
      //transition: 2s ease-in-out;
      width: 30%;
      border-radius: 0.75rem;
      animation: loadingRun 8s infinite normal;
    }
  }
}

@keyframes loadingRun {
  0%{
    left: 0;
  }
  100%{
    left: 100%;
  }
}
