@mixin upload {
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 3rem 1rem;
  width: 32rem;
  height: auto;
  max-width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @media screen and (max-width: 576px) {
    max-width: 100%;
    height: 100%;
  }
}

label {
  background-color: #2F80ED;
  color: white;
  border-radius: 0.75rem;
  cursor: pointer;
  margin-top: 1rem;
  padding: 1rem 3rem;
}

h1 {
  font-weight: 600;
}

.upload-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;

  .upload-loading {
      @include upload;
  }

  .upload {
    height: 40rem;
    @include upload;

    .upload-title {
      margin-bottom: 1rem;
    }

    p {
      margin: 2rem 0;
    }
  }
}

.btn {
  border: none;
  border-radius: 0.75rem;
  color: #F6F8FB;
  padding: 1rem 1.5rem;
  cursor: pointer;
  transition: all 0.6s ease-out;
  font-family: 'Dosis', sans-serif;
  font-size: 1rem;
  margin-left: 1rem;

  &:active, &:focus {
    outline: none;
  }
}

.btn-primary {
  background-color: #2F80ED;
  border: 1px solid #2F80ED;

  &:hover {
    background-color: #F6F8FB;
    color: #2F80ED;
  }
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.justify-space-between {
  justify-content: space-between;
}

.h-full {
  height: 100%;
}

.my-node-enter {
  opacity: 0;
  position: absolute;
}

.my-node-enter-active {
  opacity: 1;
  transition: opacity 300ms;
  position: absolute;
}

.my-node-exit {
  opacity: 1;
  position: absolute;
}

.my-node-exit-active {
  opacity: 0;
  transition: opacity 300ms;
}

.upload-home-anim-enter {
  opacity: 0;
  position: absolute;
  display: none;
}

.upload-home-anim-enter-active {
  opacity: 1;
  transition: opacity 100ms;
  position: absolute;
  display: none;
}

.upload-home-anim-exit {
  opacity: 1;
  position: absolute;
  display: none;
}

.upload-home-anim-exit-active {
  opacity: 0;
  position: absolute;
  transition: opacity 100ms;
  display: none;
}
