@import "src/assets/styles/scss/abstract/variable";
@import "src/assets/styles/scss/abstract/mixins";
@import "src/assets/styles/scss/abstract/animations";
@import "src/assets/styles/scss/abstract/bootstrap";

h1 {
  font-weight: 600;
}

.upload-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;

  .upload-loading {
      @include upload;
  }

  .upload {
    height: 40rem;
    @include upload;

    .upload-title {
      margin-bottom: 1rem;
    }

    p {
      margin: 2rem 0;
    }
  }
}
